# Set up an AWS IAM role for the deployment of the site.
# Enter the credentials here, and execute this file to set the environment.

export JESSEBUCHANANCA_AWS_KEY='xxxxx'
export JESSEBUCHANANCA_AWS_SECRET='yyyyy'
export JESSEBUCHANANCA_AWS_CLOUDFRONT_DIST_ID='zzzzz'

